region             = "ap-southeast-2"
allowed_account_id = "REPLACE_WITH_AWS_ACCOUNT_ID"
state_bucket_name  = "victenancy-terraform-REPLACE"
github_org         = "REPLACE_WITH_GITHUB_ORG"
github_repo        = "VicTenancy.app"
